<div class="container">
    <header class="pageHeader">
        <h3><i  aria-hidden="true"></i> Dodaj Projekt</h3>
    </header>

      <div class="text-center">
        <mat-card class="center">
          <mat-card-content>
            <form [formGroup]="projectData" (ngSubmit)="create()">
              <div class="form-group">
                <label for="projectname">Nazwa Projektu</label>
                <input type="text" class="form-control" formControlName="projectName" placeholder="Nazwa projektu" required>
              </div>
              <div class="form-group">
                <label for="author">Autor</label>
                <input type="text" class="form-control" formControlName="author" placeholder="Autor" required>
              </div>
              <div class="form-group">
                <label for="shortDescription">Krótki opis</label>
                <textarea class="form-control" formControlName="shortDescription" placeholder="Krótki opis" required></textarea>
              </div>
              <div class="form-group">
                <label for="longDescription">Opis</label>
                <textarea class="form-control" formControlName="longDescription" rows="10" placeholder="Dłuższy opis" required> Dłuższy opis</textarea>
              </div>
              <div class="form-group">
                <label for="photos">Obrazki</label>
                <div class=".col-sm-4">
                  <input type="file" accept="image/*" #photo placeholder="Wybierz plik" (change)="uploadImage(photo.files)" style="display: none;">
                  <button type="button"  id="photos" class="btn btn-primary" (click)="photo.click()">Dodaj</button>
                </div>
                <div class=".col-sm-4">
                  <span class="upload" *ngIf="photoUploadProgress > 0">
                    {{photoUploadProgress}}%
                  </span>
                  <span class="upload" *ngIf="messagePhoto">
                    {{messagePhoto}}
                  </span>
                </div>
              </div>
              <div class="form-group">
                <label for="projectFiles">Plik projektu w formacie archiwum</label>
                <div class=".col-sm-4">
                  <input type="file" accept=".zip,.rar" #project placeholder="Wybierz plik" (change)="uploadFile(project.files)" style="display: none;" required>
                  <button  type="button" id ="projectFiles" class="btn btn-primary" (click)="project.click()">Dodaj</button>
                </div>
                <div class=".col-sm-4">
                  <span class="upload" *ngIf="fileUploadProgress > 0">
                    {{fileUploadProgress}}%
                  </span>
                  <span class="upload" *ngIf="messageFile">
                    {{messageFile}}
                  </span>
                </div>
              </div>
              <div>
                <button type="submit"  class="btn btn-primary" [disabled]="fileUploadProgress !== 100" >Akceptuj</button>
              </div>
            </form>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
