<div class="modal fade" bsModal #editorModal="bs-modal" (onHidden)="onEditorModalHidden()" [config]="{backdrop: 'static'}" tabindex="-1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4> Rejestracja</h4>
        <button type="button" class="close float-right" title="Close" (click)="editorModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <user-info #userEditor [isGeneralEditor]="true"></user-info>
      </div>
    </div>
  </div>
</div>


<div class="d-flex h-90">
  <div class="login-container m-auto">
    <div class="card boxshadow">
      <div class="card-header bg-primary dark text-white clearfix">
        <i class="fa fa-lock" aria-hidden="true"></i> Logowanie
        <button *ngIf="isModal" type="button" class="close float-right text-light" aria-label="Close" (click)="closeModal()">

          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="card-body">
        <div class="col-md-8 offset-md-2">
          <form *ngIf="formResetToggle" class="login" name="loginForm" #f="ngForm" novalidate
                (ngSubmit)="f.form.valid ? login() :
                          (!username.valid && showErrorAlert('Login jest wymagany', 'Wprowadź poprawny login'));
                          (!password.valid && showErrorAlert('Hasło jest wymagane', 'Wprowadź poprawne hasło'))">
            <div class="form-group row has-feedback-icon">
              <label class="col-form-label col-md-3" for="login-username">Login:</label>
              <div class="col-md-9">
                <input type="text" id="login-username" name="username" placeholder="Wprowadź login" autocomplete="username" class="form-control" [ngClass]="{'is-valid': f.submitted && username.valid, 'is-invalid' : f.submitted && !username.valid}"
                       [(ngModel)]="userLogin.userName" #username="ngModel" required />
                <i *ngIf="f.submitted" class="fa form-control-feedback" [ngClass]="{'fa-check': username.valid, 'fa-times' : !username.valid}" aria-hidden="true"></i>
                <span class="invalid-feedback" *ngIf="f.submitted && !username.valid">
                  Login jest wymagany
                </span>
              </div>
            </div>
            <div class="form-group row has-feedback-icon">
              <label class="col-form-label col-md-3" for="login-password">Hasło:</label>
              <div class="col-md-9">
                <input type="password" id="login-password" name="password" placeholder="Wprowadź hasło" autocomplete="current-password" class="form-control" [ngClass]="{'is-valid': f.submitted && password.valid, 'is-invalid' : f.submitted && !password.valid}"
                       [(ngModel)]="userLogin.password" #password="ngModel" required />
                <i *ngIf="f.submitted" class="fa form-control-feedback" [ngClass]="{'fa-check': password.valid, 'fa-times' : !password.valid}" aria-hidden="true"></i>
                <span class="invalid-feedback" *ngIf="f.submitted && !password.valid">
                  Hasło jest wymagane
                </span>
              </div>
            </div>
            <div class="form-group row">
              <div class="offset-md-3 col-md-9">
                <div class="form-check">
                  <input type="checkbox" class="form-check-input" id="login-rememberme" name="rememberMe" [(ngModel)]="userLogin.rememberMe">
                  <label class="form-check-label" for="login-rememberme">Zapamiętaj mnie</label>
                </div>
              </div>
            </div>

            <div class="form-group row">
              <div class="offset-md-3 col-md-9">
                <button type="submit" class="btn btn-primary" [disabled]="isLoading">
                  <i *ngIf="isLoading" class='fa fa-circle-o-notch fa-spin'></i> {{isLoading ? 'Logowanie...' : 'Login'}}
                </button>
                <button type="button" class="btn btn-secondary" (click)="newUser()">Rejestracja</button>
                <div class="modal-body">
                </div>
              </div>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>
