<header class="pageHeader">
    <h3><i class="fa fa-exclamation-circle fa-lg page-caption" aria-hidden="true"></i> Nie znaleziono</h3>
</header>

<div [@fadeInOut] class="d-flex h-75">
    <div class="m-auto">
        <div class="icon-container"><i class='fa fa-exclamation-circle'></i>404 Ups ... strony nie znaleziono</div>
        <div class="text-muted error-description">Tego co szukasz tu nie ma </div>
        <div><a class="btn btn-primary" routerLink="/"><i class='fa fa-home'></i> Powrot do homepage</a></div>
    </div>
</div>
