<div>
    <div class="form-group row">
        <label for="refreshButton" class="col-sm-3 col-form-label">Odśwież </label>
        <div class="col-sm-4">
            <button id="refreshButton" class="btn btn-outline-secondary" (click)="reloadFromServer()">
                <i class="fa fa-refresh"></i>
            </button>
        </div>
        <div class="col-sm-5">
            <p class="form-control-plaintext text-muted small">Przywraca domyślne ustawienia użytkownika</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <hr class="separator-hr" />
        </div>
    </div>



    <div class="row">
        <div class="col-md-12">
            <hr class="separator-hr" />
        </div>
    </div>

    <div class="form-group row">
        <label for="homePage" class="col-sm-3 col-form-label">Strona domowa </label>
        <div class="col-sm-4">
            <select id="homePage" [(ngModel)]="configurations.homeUrl" #homePageSelector="bootstrap-select" bootstrapSelect class="selectpicker form-control">
                <option  data-subtext="(Domyśny)" value="/">Lista projektów</option>
                <option *ngIf="canAddProject"  value="/projects/add">Dodaj projekt</option>
                <option  value="/settings">Ustawienia</option>
            </select>
        </div>
        <div class="col-sm-5">
            <p class="form-control-plaintext text-muted small">Wybierz stronę startową</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <hr class="separator-hr" />
        </div>
    </div>

    <div class="form-group row">
        <label for="defaultTheme" class="col-sm-3 col-form-label">Motyw</label>
        <div *ngIf="themeSelectorToggle" class="col-sm-4">
            <select id="defaultTheme" [(ngModel)]="configurations.themeId" bootstrapSelect class="selectpicker theme-picker form-control">
                <option *ngFor="let theme of themeManager.themes"
                attr.data-content="<div class='theme-item' style='background-color: {{theme.background}}; color: {{theme.color}}'>{{'preferences.' + theme.name + 'Theme' | translate}}
                <span class='small'>{{theme.isDark ? '(Ciemny)' : ''}}</span></div>">
                {{theme.id}}
                </option>
            </select>
        </div>
        <div class="col-sm-5">
            <p class="form-control-plaintext text-muted small">Wybierz kolor strony</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <hr class="separator-hr" />
        </div>
    </div>



    



    <div class="row">
        <div class="col-md-12">
            <hr class="last-separator-hr" />
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-3">

        </div>
        <div class="col-sm-9">
            <div class="row float-left">
                <div class="col-sm-6 col-reset-default">
                    <button type="button" (click)="resetDefault()" class="btn btn-success">
                        <i class='fa fa-circle-o-notch'></i> Przywróć domyślne
                    </button>
                </div>
                <div class="col-sm-6 col-set-default">
                    <button type="button" (click)="setAsDefault()" class="btn btn-primary">
                        <i class='fa fa-hdd-o'></i> Ustaw jako domyślne
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
